$noti-bar-height: 60px !default;
$noti-bar-font-size: 16px;
$noti-bar-font-size-close-icon: 28px;
$noti-bar-color-primary: $primary;
$noti-bar-color-danger: $danger;
$noti-bar-color-success: $success;
$noti-bar-color-warning: $warning;

.noti-bar {
  z-index: 9998;
  position: fixed;
  top: 0;
  width: 100%;
  height: $noti-bar-height;
  color: $color-white;
  transition: all .3s cubic-bezier(0,0,.42,1);

  .noti-bar-primary{
    background-color: $noti-bar-color-primary;
  }
  .noti-bar-danger{
    background-color: $noti-bar-color-danger;
  }
  .noti-bar-success{
    background-color: $noti-bar-color-success;
  }
  .noti-bar-warning{
    background-color: $noti-bar-color-warning;
  }

  .noti-bar-body {
    position: relative;
    z-index: 9999;
    display: flex;
    height: 100%;
    font-size: $noti-bar-font-size;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;
  }

  .noti-bar-close{
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: calc((#{$noti-bar-height}/2) - 20px);
    right: 30px;
    font-size: $noti-bar-font-size-close-icon;

  }

}
