.container-bulk-actions {
  background-color: rgba(228, 234, 236, 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.215rem;
  height: 2.571rem;
  .p-dropdown {
    margin-right: -0.5rem;
  }
}